.about h6 {
    font-weight: 300;
    letter-spacing: 1px;
}
.about h5 {
    font-weight: 300;
    letter-spacing: 1px;
}
.about h3 {
    text-transform: capitalize;
    font-weight: 300;
    letter-spacing: 5px;
    text-align: center;
}
.about h4{
    text-transform: capitalize;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: center;
}
.about caption{
    font-weight: 300;
    letter-spacing: 2px;
}
.about-wrapper {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10vh;
    padding-bottom: 10vh;
    width: 100%;
}
.about-header{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    text-align: center;
    padding-bottom: 6vh;
}
.about-card{
    width: 100%;
}
.about-body{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    text-align: center;
    padding-bottom: 1vh;
}
.about-body-header{
    padding-bottom: 2vh;
}
.about-body-item{
    padding-bottom: 1vh;
}
.about-images{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%;
    max-width: 80%;
    max-height: 40%;
    text-align: center;
}
.about-img{
    height: 255;
    display: block;
    max-width: 400;
    overflow: hidden;
    width: 100%;
}