.about h6 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.about h5 {
    font-weight: 300;
    letter-spacing: 1px;
}
.about h3 {
    text-transform: capitalize;
    font-weight: 300;
    letter-spacing: 3px;
    text-align: center;
}
.about {
    
}
.about-wrapper {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10vh;
    padding-bottom: 15vh;
    width: 100%;
}
.about-header{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
}
.about-images{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%;
    width: 90%;
    text-align: center;
}
.about-image-paper{
    display: flex;
    align-items: center;
    height: 5%;
}
.about-img{
    height: 255;
    display: block;
    max-width: 400;
    overflow: hidden;
    width: 100%;
}