
.header h6 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1rem;
}
.header h5 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.2rem;
}
  
.header h3 {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .7rem;
    font-size: 1.9rem;
}
.header {
    text-align: center;
    align-self: center;
}

.header-wrapper {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20vh;
    padding-bottom: 14vh;
    width: 95%;
}
.icon-wrapper{
    width: 60%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}