.contact h6 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.contact h5 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.contact h3 {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
}
.contact {
    text-align: center;
}
.contact-wrapper {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10vh;
    padding-bottom: 15vh;
    width: 350px;
}