.footer {
    max-width: 400px;
    margin-left: auto;
	margin-right: auto;
    text-align: center;
    padding-bottom: 1vh;
}
.footer-copyright{
    padding-bottom: 3vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}