.navbarContainer {
    position: sticky;
    opacity: 1;
    width: 100%; 
}
.section {
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
}
.section-container {
	width: 100%;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 160px;
	padding-bottom: 160px;
}
.navigation{
    align-content: right;
}

.footer {
    top: auto;
    bottom: 0;
    text-align: center;
    padding-bottom: 3vh;
}